#overlay {
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  z-index: 25;
  text-align: center;
}

#overlay_close {
  width: 21px; height: 21px;
  position: absolute;
  color: red;
  font-size: 50px;
  left: 0;
  bottom: 0;
  margin: auto;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
}

#window_site {
  z-index: 37;
  position: fixed;
  background: #524747;
  width: 100%;
  height: 100%;
  width: 0;
  height: 0;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}

.window {
  z-index: 37;
  position: fixed;
  background: #696969;
  width: 100%; height: 100%;
  width: 0;
  height: 0;
  top: 0; left: 0;
  cursor: pointer;
  opacity: 0.5;
}

.cats-window {
  width: 30%;
  height: 40%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 38;
  text-align: center;
  overflow-y: hidden;

}

.cats-table-wrapper {
  a {
    color: $dark_orange;
    text-decoration: none;
  }
  h1 {
    color: $tomato;
    margin-top: 100px;
    font-weight: 800;
    font-size: 48px;
  }

  #window_site {
    z-index: 37;
    position: fixed;
    background: #524747;
    width: 100%;
    height: 100%;
    width: 0;
    height: 0;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
  }

  #overlay {
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    opacity: 0;
    z-index: 25;
    text-align: center;
  }

  .button-container {
    width: 100%;
    display: flex;
    div {
      width: 50%;
      padding: 20px;
      margin-top: -20px;
      border: 2px solid $tomato;
      box-shadow: 1px 1px 38px 4px rgba(255, 99, 71, 0.2);
      font-size: 24px;
      color: $dark_orange;
      font-weight: 800;
    }
  }

  .cats-fields-container .fields {
    display: flex;
    width: 100%;

    img {
      width: 100%;
      height: 225px;
    }

    .cats-window {
      width: 30%;
      height: 40%;
      margin: auto;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 38;
      text-align: center;
      overflow-y: hidden;
    }
    div {
      width: 25%;
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $tomato;
      box-shadow: 1px 1px 38px 4px rgba(255, 99, 71, 0.2);
      font-size: 24px;
      color: $dark_orange;
      font-weight: 800;
    }
  }
}
.additional_class {}

.header_table {
  display: flex;
  div {
    width: 25%;
    border: 2px solid $tomato;
    text-align: center;
    padding: 10px;
    color: $dark_orange;
    font-size: 24px;
    font-weight: 800;
    box-shadow: 1px 1px 38px 4px rgba(255, 99, 71, 0.2);
  }
}
