@import "colors";
@import "mixin";


form {
  margin: 0 auto;
  text-align: center;
}
.koval-formcats {
  #edit-name {
    border: 1px solid grey;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    &:focus {
      border: 1px solid transparent;
      box-shadow: 0 0 10px #eeab09;
      outline-color: #ffffff;
    }
  }
  .form-text, .form-email {
    padding: 15px;
    max-width: 400px;
    margin: 10px auto;
    display: block;
  }
  label {
    font-size: 22px;
    font-weight: 700;
    color: $dark_orange;
    margin-bottom: 50px;

  }
  input[type="submit"] {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px $tomato inset, 0 0 0 0 $tomato;
    border: $tomato;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    text-transform: uppercase;
    &:hover{
      box-shadow: 0 0 10px 0 $tomato inset, 0 0 10px 4px $tomato;
      color: $tomato;
    }
  }
}

.invalid-email-message, .invalid-name-message {
  @include result_message($red_light, $white);
}

.send-message {
  @include result_message($lime, $white);
}
.form-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: block;
}
