@import "mixin";
@import "colors";
.region-content {
  @include container;
  text-align: center;
  padding: 100px 25px;
}

.welcome-text {
  color: $tomato;
  font-size: 32px;
  font-weight: 800;
  margin: 40px 0;
}
