.region-content {
  max-width: 1200px;
  padding: 0 25px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 100px 25px;
}

.welcome-text {
  color: #FF6347;
  font-size: 32px;
  font-weight: 800;
  margin: 40px 0;
}

form {
  margin: 0 auto;
  text-align: center;
}

.koval-formcats #edit-name {
  border: 1px solid grey;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.koval-formcats #edit-name:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 10px #eeab09;
  outline-color: #ffffff;
}
.koval-formcats .form-text, .koval-formcats .form-email {
  padding: 15px;
  max-width: 400px;
  margin: 10px auto;
  display: block;
}
.koval-formcats label {
  font-size: 22px;
  font-weight: 700;
  color: #FF8C00;
  margin-bottom: 50px;
}
.koval-formcats input[type=submit] {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #FF6347 inset, 0 0 0 0 #FF6347;
  border: #FF6347;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;
  text-transform: uppercase;
}
.koval-formcats input[type=submit]:hover {
  box-shadow: 0 0 10px 0 #FF6347 inset, 0 0 10px 4px #FF6347;
  color: #FF6347;
}

.invalid-email-message, .invalid-name-message {
  border: 1px solid #F39999;
  padding: 7px;
  width: 50%;
  margin: 0 auto;
  background-color: #F39999;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  margin-top: 10px;
}

.send-message {
  border: 1px solid #3ADF00;
  padding: 7px;
  width: 50%;
  margin: 0 auto;
  background-color: #3ADF00;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  margin-top: 10px;
}

.form-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

header {
  height: 200px;
  width: 100%;
  background-color: #ffebbe;
}
header p {
  margin-top: 0;
}
header img {
  height: 200px;
  width: 200px;
}
header #block-catslogo {
  font-size: 48px;
  color: #FF4500;
  margin-left: auto;
  font-weight: 700;
}
header #block-catslogo .field {
  line-height: 200px;
  text-align: center;
}
header #block-cats-logo {
  height: 200px;
}

.region-header {
  max-width: 1200px;
  padding: 0 25px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  max-height: 200px;
  height: 200px;
}